<section class="main-banner">
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="./assets/img/bh_logo.png" alt="logo">
      </div>

      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link" (click)="scrollTo(whyus)">Почему у нас</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" (click)="scrollTo(products)">Меню бургеров</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" (click)="scrollTo(order)">Оформление заказа</a>
          </li>
        </ul>
      </nav>
      <div class="currency" title="Изменить валюту" id="currency" (click)="changeCurrency()">{{currency}}</div>
    </div>
  </header>

  <section class="main-content">
    <div class="container">
      <div class="main-info">
        <span class="main-small-info">Новое Меню</span>
        <h1 class="main-title">Бургер Чеддер</h1>
        <p class="main-text">
          Мы обновили наше меню, спешите попробовать сезонные новинки и насладиться отличным вкусом наших
          бургеров.
          Готовим для вас лучшие бургеры в городе из отборной мраморной говядины.
        </p>
        <div class="mail-action">
          <button class="button watch-menu-btn" id="menu-button" (click)="scrollTo(products)">
            Смотреть Меню
          </button>
        </div>
      </div>
      <img src="./assets/img/main_burger.png" alt="our awesome burger" class="main-img" [ngStyle]="mainImageStyle">
    </div>
  </section>
</section>

<section class="why" id="why-us" #whyus>
  <div class="container">
    <div class="why-title common-title">
      почему нас выбирают?
    </div>
    <div class="why-items">
      <div class="why-item">
        <img src="./assets/img/burger.png" alt="Burger" class="why-item-img">
        <div class="why-item-title">Авторские рецепты</div>
        <div class="why-item-description">Наши бургеры обладают уникальным сочетанием вкусов и не похожи
          ни на какие
          другие. Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для нашего меню.
        </div>
      </div>
      <div class="why-item">
        <img src="./assets/img/meat.png" alt="Meat" class="why-item-img">
        <div class="why-item-title">Мраморная говядина</div>
        <div class="why-item-description">Для наших бургеров мы используем отборную 100% мраморную говядину,
          которую
          закупаем исключительно у фермеров. Мы уверены в качестве нашего мяса.
        </div>
      </div>
      <div class="why-item">
        <img src="./assets/img/food_truck.png" alt="Delivery" class="why-item-img">
        <div class="why-item-title">Быстрая доставка</div>
        <div class="why-item-description">Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка
          бесплатно. Мы тщательно упаковываем наши бургеры, чтобы по дороге они не остыли.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product" id="menu" #products>
  <div class="container">
    <div class="product-title common-title">
      выберите свой бургер
    </div>
    <div class="products-list">
      <div class="product-item" *ngFor="let product of productsData">
        <div class="product-item-img">
          <img src="{{product.image}}" alt="burger">
        </div>
        <div class="product-item-title">
          {{product.title}}
        </div>
        <div class="product-item-description">
          {{product.text}}
        </div>
        <div class="products-item-extra">
          <div class="product-item-info">
            <div class="product-item-price">{{product.price}} {{currency}}</div>
            <div class="product-item-weight">{{product.grams}} gr</div>
          </div>
          <div class="product-order-button">
            <button class="button order-button" (click)="scrollTo(order, product)">
              <span>Заказать</span>
              <img src="./assets/img/card.svg" alt="order" class="order-icon">
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="order" id="order" #order>
  <div class="container">
    <div class="order-title common-title">
      оформление заказа
    </div>
    <form class="order-form" id="order-form" (ngSubmit)="confirmOrder()">
      <div class="order-form-title">
        Заполните все данные и наш менеджер свяжется с вами для подтверждения заказа
      </div>
      <img src="./assets/img/order_image.png" alt="order" class="order-img" [ngStyle]="orderImageStyle">
      <div class="order-form-rows" [formGroup]="form">
        <div class="order-form-input"
             [class]="{'error': form.get('order')?.invalid && (form.get('order')?.dirty || form.get('order')?.touched)}"
        >
          <label>
            <input type="text" placeholder="Выберите товар в списке" id="burger" formControlName="order" readonly>
          </label>
        </div>
        <div class="order-form-input"
             [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)}"
        >
          <label>
            <input type="text" placeholder="Ваше имя" id="name" formControlName="name"
            >
          </label>
        </div>
        <div class="order-form-input"
             [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)}"
        >
          <label>
            <input type="tel" placeholder="Ваш телефон" id="phone" formControlName="phone">
          </label>
        </div>
        <button class="button" id="order-submit" (click)="confirmOrder()" [disabled]="!form.valid">
          <span>Оформить заказ</span>
        </button>
      </div>
    </form>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="./assets/img/bh_logo.png" alt="logo">
    </div>
    <div class="rights">
      Все права защищены
    </div>

  </div>
</footer>

<div class="loader" [class.showed]="loaderShowed" *ngIf="loader">
  <lottie-player src="./assets/burger.json" style="background: transparent;" speed="1.5" autoplay></lottie-player>
</div>
